@model StoneTrackAdmin.Models.CustomerDetailsModel


@{
    ViewData["Title"] = "Edit Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/cities.js"></script>
<div class="container-fluid sb2">
    <div class="row">
        <div class="sb2-2">
            <div class="sb2-2-2">
                <ul>
                    <li>
                        <a href="#"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
                    </li>
                    <li class="active-bre">
                        <a href="#"> Ui Form</a>
                    </li>
                </ul>
            </div>
            <div class="sb2-2-2">
                <ul>
                    <li>
                        <a href="/Customer/CustomerDetail"><i class="fa fa-angle-double-left" aria-hidden="true"></i> Back to Customer</a>
                    </li>
                </ul>
            </div>
            <div class="sb2-2-3">
                <div class="row">
                    <div class="col-md-12">
                        <div class="box-inn-sp">
                            <div class="inn-title">
                                @if (Model.CustomerId > 0)
                                {
                                    <h4>Edit Customer Details</h4>
                                }
                                else
                                {
                                    <h4>Add Customer Details</h4>
                                }

                            </div>
                            <form asp-action="AddCustomer" asp-controller="Customer" method="post">
                                <div class="tab-inn">
                                    <input asp-for="CustomerId" type="hidden" />
                                    <div class="row">
                                        <div class="input-field col s6 ">
                                            <label for="first_name" class="form-group">Name</label>
                                            <input asp-for="Name" type="text" class="validate form-control" placeholder="Enter Name">
                                            <span class="text-danger" asp-validation-for="Name"></span>
                                        </div>
                                        <div class="input-field col s6 ">
                                            <label for="last_name" class="form-group">Address</label>
                                            <input asp-for="Address" type="text" class="validate form-control" placeholder="Enter Address">
                                            <span class="text-danger" asp-validation-for="Address"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6 ">
                                            <label for="phone" class="form-group">Mobile No</label>
                                            <input asp-for="MobileNo" type="text" class="validate form-control" placeholder="Enter Mobile No">
                                            <span class="text-danger" asp-validation-for="MobileNo"></span>
                                        </div>
                                        <div class="input-field col s6 ">
                                            <label for="Gender" class="form-group">GST No</label>
                                            <input asp-for="GSTNO" type="text" class="validate form-control" placeholder="GST No">
                                            <span class="text-danger" asp-validation-for="GSTNO"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6 ">
                                            <label for="Gender" class="form-group">Email Address</label>
                                            <input asp-for="EmailAddress" type="text" class="validate form-control" placeholder="Enter Email Address">
                                            <span class="text-danger" asp-validation-for="EmailAddress"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <button type="submit" class="btn btn-success">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@*<script>
    $(function () {

<script>
    $.ajax({
        type: "GET",
        url: "/Home/GetStateByCustomerID",
        data: { CustomerId: @Model.CustomerId},
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (response) {
        print_state("State");
        var state = "@Model.State";
        var district = "@Model.District";
        $("#State").val(state);
        var option_str = document.getElementById("State");
        print_city('District', option_str.selectedIndex);
        $("#District").val(district);
    });
</script>

</script>*@

<!--new state-->
